---
import { formatDate } from "@lib/config";
import Link from "@components/Link.astro";
import Tag from "@components/Tag.astro";
import type { ProjectItem } from "@lib/config";

interface Props {
  project: ProjectItem;
}

const { project } = Astro.props;
---

<div class="card flex flex-col gap-4 p-4">
  <div class="content-flex">
    <div class="heading-lg mb-1">
      {project.title}
    </div>
    <div class="date-meta">
      {formatDate(new Date(project.date), "%B %d, %Y")}
    </div>
    <div class="text-secondary-color mb-3 text-sm leading-relaxed">
      {project.description}
    </div>

    {
      project.tags && project.tags.length > 0 && (
        <div class="mb-3 flex flex-wrap gap-2">
          {project.tags.map((tag) => (
            <Tag text={tag} />
          ))}
        </div>
      )
    }

    {
      (project.demoURL || project.repoURL || project.websiteURL) && (
        <nav class="flex gap-1 text-sm">
          {project.demoURL && (
            <Link href={project.demoURL} external underline>
              demo
            </Link>
          )}
          {project.demoURL && project.repoURL && (
            <span class="text-secondary-color">/</span>
          )}
          {project.repoURL && (
            <Link href={project.repoURL} external underline>
              source code
            </Link>
          )}
          {project.repoURL && project.websiteURL && (
            <span class="text-secondary-color">/</span>
          )}
          {project.websiteURL && (
            <Link href={project.websiteURL} external underline>
              website
            </Link>
          )}
        </nav>
      )
    }
  </div>
</div>
