---
export const prerender = true;

import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { NOW, NOW_DATA } from "@lib/config";
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION} currentPath="/now/">
  <Container>
    <div class="space-y-8">
      <div>
        <h1 class="text-primary font-display text-2xl font-semibold">
          {NOW.TITLE}
        </h1>
      </div>
      <div class="space-y-6">
        <article class="prose prose-lg max-w-none text-center">
          <em
            >"Here lieth a liste, certes in no certaine ordre or prioritie, of
            that which I might be about in this presente houre"</em
          >
        </article>
      </div>

      <article class="prose prose-lg max-w-none">
        {
          NOW_DATA.map((section) => (
            <div>
              <h3>{section.title}</h3>
              {section.items.length > 0 ? (
                <ul>
                  {section.items.map((item) => (
                    <li set:html={item} />
                  ))}
                </ul>
              ) : (
                <p>Nothing at the moment!</p>
              )}
            </div>
          ))
        }
      </article>
    </div>
  </Container>
</PageLayout>
