---
export const prerender = true;

import PageLayout from "@layouts/PageLayout.astro";
import PageContainer from "@components/PageContainer.astro";
import PageHeader from "@components/PageHeader.astro";
import Section from "@components/Section.astro";
import { NOW, NOW_DATA } from "@lib/config";
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION} currentPath="/now/">
  <PageContainer spacing="sm">
    <PageHeader title={NOW.TITLE} size="lg" />

    <Section spacing="md">
      <article class="prose prose-lg max-w-none text-center italic">
        "Here lieth a liste, certes in no certaine ordre or prioritie, of that
        which I might be about in this presente houre"
      </article>
    </Section>

    <Section spacing="md">
      <article class="prose prose-lg max-w-none">
        {
          NOW_DATA.map((section) => (
            <div>
              <h3>{section.title}</h3>
              {section.items.length > 0 && (
                <ul>
                  {section.items.map((item) => (
                    <li set:html={item} />
                  ))}
                </ul>
              )}
              {section.items.length === 0 && <p>Nothing at the moment!</p>}
            </div>
          ))
        }
      </article>
    </Section>
  </PageContainer>
</PageLayout>
